/*git test
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/



/*
.front {
	position: absolute;
	margin:0px;
	top: 0px
	left: 0px;
	
}

*/



.front, .back{
	transition: -webkit-transform 1s;
	-webkit-transform-style:preserve-3d;
	backface-visibility: hidden;
	
}

.front{
	position: absolute;
}

.back{

	-webkit-transform:rotateY(-180deg);
}
.portfolio-item:hover .back{

-webkit-transform:rotateY(0deg)
}
.portfolio-item:hover .front{

-webkit-transform:rotateY(180deg)	
}

/*need to use the other div because eventually will not be hovering on front or back*/
